@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


*{

  font-family: "Lexend", sans-serif;
}
select{
  -webkit-appearance: none;
   -moz-appearance: none;
   color: transparent;
  text-shadow: 0 0 0 #000;
}
