@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


*{

  font-family: "Lexend", sans-serif;
}
select{
  -webkit-appearance: none;
   -moz-appearance: none;
   color: transparent;
  text-shadow: 0 0 0 #000;
}

.filtersBoxDiv{
  display: flex;
  justify-content: flex-start;
  flex-flow: wrap;
  gap: 3rem;
}
.jobCardsDiv{
  width: 100%;
  display: flex;
  flex-flow: wrap;
  gap: 3rem;
  justify-content: flex-start;
}

